<div class="container">
    <div class="box has-text-centered">
        <h1 class="title is-1">Welcome to the Techblog</h1>
        <p class="title is-2">Post your tech reviews on any products!</p>
    <div>

    {{#if loggedIn}}
        <div class="box has-background-primary-light">
        {{#each plainAllPosts}}
         <a href="/posts/{{id}}" class="p-2">
            <div class="box has-background-primary">
                    <h1 class="title is-2">{{title}}</h1>
                    <p class="is-size-4">{{content}}</p>
            </div>
        </a>
        {{/each}}
        </div>
    {{else}}
    <div class="box has-background-primary-light">
        {{#each plainAllPosts}}
            <div class="box has-background-primary">
                <h1 class="title is-2">{{title}}</h1>
                <p class="is-size-4">{{content}}</p>
            </div>
        {{/each}}
    </div>
      {{/if}}
</div>